<h2>&emsp;Home</h2>
<p style='text-align:right'> 
	<%= link_to 'Create Hotel', new_hotel_path, class: 'btn btn-info'%>&emsp;&emsp;
</p>
<table class="table" style="width:40%">
	<tr>
	<th style='width:15%'><th>
	<th style='text-align:center' class='success'>Hotels</th>
	<th style='width:15%'><th>
	</tr>
	<%= @hotels.each do |hotel|%>
	<tr>
		<td style='width:15%'><td>
		<td style='text-align:center'>&emsp;<%= link_to hotel.name, {:controller =>'hotels',:action=>'show',:id =>hotel.id},class: 'btn btn-info btn-block'%></td>
		<td style='width:15%'><td>
	</tr>
	<%end%>
</table>