<h1> Library </h1>
<%=form_tag(:controller=>"account",:action=>"create") do %>
	&#160;&#160;&#160;<%= submit_tag "Create" %>
<% end %><br />
<%= form_tag(:controller => "account",:action => "show") do %>
	<%= submit_tag "Show Books"%>
<% end %>
