<h1>Dash Board</h1><br><br>
<table class="table table-bordered">
	<tr>
		<td><b>No. of Rooms to be Cleaned</b></td>
		<td style='text-align:left'>:<%= @rooms.size%></td>
	</tr>
	<tr>
		<td><b>Estimated Time </b></td>
		<td style='text-align:left'>:<%= @rooms.size%> hr</td>
	</tr>
	<tr>
		<td><b>Rooms Cleaned </b></td>
		<td style='text-align:left'>:<%= @tasks.size%></td>
	</tr>
</table><br><br>
&emsp;<b>Rooms:
<% if @rooms.first.nil?%>
	&emsp;No room assigned<br>
<% end %>
<% @rooms.each do |room|%>
	&emsp;<%= link_to room.no, {:controller =>'maid',:action=>'cleaning',:id =>room.id}, class: 'btn btn-primary' %><td>
<%end%>	</b>	
<%console%> 